
<table width="100%" border="0">
<tr>
<td width="8%" valign="top"><img src="http://extranet.injuv.gob.cl/tarjeta_joven/images/logo_injuv_v2.jpg" alt="" width="140"></td>
</tr>
<tr>
</table>

<table width="100%" border="0">
<td rowspan="16" width="12%">&nbsp;</td>
<td>
<table width="100%" border="0" cellpadding="10">

<tr>
<td colspan="3">MEMORANDUM (PROG) - (REG)&nbsp;&nbsp;&nbsp;Nº (Num.Memo) &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/2014</td>
</tr>

<tr>
<td width="9%" valign="top">A</td>
<td width="1%" valign="top">:</td>
<td width="90%" valign="top">
JEFE DPTO<br>
JEFE DEPTO. (S) COORDINACIÓN PROGRAMÁTICA<br>
INSTITUTO NACIONAL DE LA JUVENTUD
</td>
</tr>

<tr>
<td width="9%" valign="top">DE</td>
<td width="1%" valign="top">:</td>
<td width="90%" valign="top">
JEFE DPTO<br>
JEFE DEPTO. (S) COORDINACIÓN PROGRAMÁTICA<br>
INSTITUTO NACIONAL DE LA JUVENTUD
</td>
</tr>

<tr>
<td width="9%" valign="top">REF</td>
<td width="1%" valign="top">:</td>
<td width="90%" valign="top"></td>
</tr>

<tr>
<td width="9%" valign="top">MAT.</td>
<td width="1%" valign="top">:</td>
<td width="90%" valign="top">
SOLICITA O.C PARA ADQUISICIÓN
</td>
</tr>

<tr>
<td width="9%" valign="top">FECHA</td>
<td width="1%" valign="top">:</td>
<td width="90%" valign="top">
DD de MES de AAAA
</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td colspan="3" align="justify">
De mi consideración:<br>
Junto con saludarle, solicito a usted tramitar la emisión de la orden de compra para implementación de las actividad del DCP, de acuerdo a los datos expuestos a continuación:
</td>
</tr>

<tr>
<td colspan="3">
<table width="100%" border="0">
<tr>
<td width="12%">Razoón Social :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">RUT :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">Dirección :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">Teléfono :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">Nº de O.C :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">Nº del documento :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">Forma de Pago :</td>
<td width="88%"></td>
</tr>
<tr>
<td width="12%">Observaciones :</td>
<td width="88%"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="3">
<table width="100%" border="1" cellpadding="5">
<tr>
<td width="5%" align="center"><b>Cod. Ingreso</b></td>
<td width="60%" align="center"><b>Detalle de la adquisición</b></td>
<td width="10%" align="center"><b>Cuenta presupuestaria</b></td>
<td width="10%" align="center"><b>Ítem Gasto</b></td>
<td width="10%" align="center"><b>Monto</b></td>
</tr>
<tr>
<td align="center">hola</td>
<td align="center">hola</td>
<td align="center">hola</td>
<td align="center">hola</td>
<td align="center">hola</td>
</tr>
<tr>
<td colspan="3"></td>
<td>Total IVA incl:</td>
<td>$ 250.000</td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="3" align="justify">
Esta solicitud cuenta con VºBº del (COMP) en virtud que se ajusta a lo presupuestado. Los gastos deberán ser imputados al (PROG),(COMP) (REG romano) Región. <br><br>
Sin otro particular, se despide.
</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr>
<td colspan="3" align="center">
(JEFE DEPARTAMENTO)<br>
JEFA (S) DEPTO. DE COORDINACIÓN PROGRMÁTICA<br>
INSTITUTO NACIONAL DE LA JUVENTUD
</td>
</tr>
<tr>
<td colspan="3" align="left">
AVA/SCM
</td>
</tr>
</table>
</td>
<td rowspan="16" width="5%">&nbsp;</td>
</table>

